.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.hprof


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Jupyter Notebook ###
.ipynb_checkpoints

### VS Code ###
.vscode/

# vim
*.swp

### MacOS ###
.DS_Store


### Terraform ###
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

### Terragrunt ###
.terraform.lock.hcl
terragrunt.iml
.terragrunt-cache